---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// useful reference https://cssreference.io/property/background-color/
.masthead {
  position: fixed; 
  top: 0; 
  width: 100%;  
 // background:  rgba(50, 115, 220, 0.3);//$background-color;   
  height: 85px;   

 }

.greedy-nav {
  background:  rgba(50, 115, 220, 0.3);//$background-color;   //Added
}
