---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// useful reference https://cssreference.io/property/background-color/
// https://developer.mozilla.org/en-US/docs/Web/CSS/color_value
.masthead {
  position: fixed; 
  top: 0; 
  width: 100%;  
  background: gainsboro; //#ac4142; //red; //rgba(50, 115, 220, 0.3);//$background-color;   
  height: 85px;   

 }

.greedy-nav {
  background: gainsboro; //red;// rgba(50, 115, 220, 0.3);//$background-color;   //Added
}

body {
  padding: 65px 0 0; //<-- set page body's top padding to 65
                     //and set 0 padding for left and right sides
 
}
