---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
  position: fixed; //changed
  top: 0; //added
  width: 100%;  //Added
  background: $background-color;   //Added
  height: 45px;   //Added
  
 }
