---
layout: archive
---

{{ content }}
<p>
<h1>Personal Website </h1>

<p>
I am an information security specialist with a focus on risk management and data privacy, I have worked extensively for small and large organizations internationally - for the last 10 years in Switzerland.
<p>
For more information, or to contact me, please use the connection links on the left hand side.  
<p>
I use this site for various articles and projects:
<ul>
<li> 
[GDPR](/project_website/gdpr) contains a "collapsible" version of the EU GDPR privacy regulation.</li>
</ul>
